name: Windows Testing

on:
  workflow_dispatch:


jobs:

  test:
    name: Run Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2022]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          show-progress: false

      - name: Install go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21

      - name: Pre-fill Module Cache
        run: go mod download -x

      - name: Run Simple
        shell: pwsh
        run: go run example/simple/simple.go